.place__title {
  width: calc(100vw*460/1280);
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}

@media screen and (max-width:1024px) {
  .place__title {
    width: calc(100vw*440/1024);
  }
}

@media screen and (max-width:768px) {
  .place__title {
    width: calc(100vw*340/768);
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width:730px) {
  .place__title {
    width: calc(100vw*288/320);
    font-size: 32px;
    line-height: 35px;
    margin: auto;
    margin-bottom: 32px;
  }
}