.cover__subtitle {
  margin: 0;
  padding: 0;
  max-width: 360px;
  margin: auto;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
}

@media screen and (max-width:768px) {
  .cover__subtitle {
    max-width: calc(100vw*368/768);
  }
}

@media screen and (max-width:730px) {
  .cover__subtitle {
    max-width: calc(100vw*288/320);
    font-size: 14px;
    line-height: 16px;
  }
}