@import url("./__logo/header__logo.css");
@import url("./__link/header__link.css");
@import url("./__link/_position/header__link_position_last.css");
@import url("./__menu/header__menu.css");
.header {
  padding-top: 28px;
  width: calc(100%*1184/1280);
  margin: auto;
  padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width:1200px) {
  .header {
    padding-bottom: 48px;
    width: calc(100%*928/1024);
  }
}

@media screen and (max-width:1000px) {
  .header {
    width: calc(100%*720/768);
  }
}

@media screen and (max-width:320px) {
  .header {
    padding-top: 16px;
    width: calc(100%*288/320);
  }
}