@import url("./__logo/header__logo.css");
@import url("./__link/header__link.css");
.header{
  border:red 1px solid;
 /* padding: 28px 48px 56px 28px; */
 width: 92.5%;
 margin: auto;
 padding-bottom: 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
