.intro__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
  padding: 0;
  margin-bottom: 32px;
  padding-left: calc(100%*100/1280);
}

@media screen and (max-width:1200px) {
  .intro__text {
    padding-left: 0;
  }
}

@media screen and (max-width:1000px) {
  .intro__text {
    max-width: 100%;
  }
}