@import url("./__title/intro__title.css");
@import url("./__text/intro__text.css");
@import url("./__list/intro__list.css");
.intro{
  border: solid red 1px;
  padding-top: 46px;
  max-width: 690px;
  margin-left: calc((100% - 76.87%)/2);
  padding-bottom: 92px;
}