@import url("./__background/cover__background.css");
@import url("./__header/cover__header.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__title/cover__title.css");
.cover {
  width: calc(100%*1184/1280);
  min-height: calc(100vw*740/1280);
  margin: auto;
  position: relative;
  background-image: url(../../images/dmitrii-vaccinium-22833-unsplash.jpg);
  background-size: 100% 100%;
}

.cover:hover .cover__background {
  opacity: 0.8;
}

@media screen and (max-width:1200px) {
  .cover {
    width: 100%;
    min-height: calc(100vw*640/1024);
  }
}