.place__link {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  opacity: 1;
  transition: opacity 1s linear 0s;
}

.place__link:hover {
  opacity: 0.6;
}