@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");
@import url("./__menu/footer__menu.css");
@import url("./__item/footer__item.css");
.footer {
  max-width: calc(100%*1184/1280);
  margin: auto;
  display: flex;
  padding-bottom: 24px;
  justify-content: space-between;
  padding-top: 92px;
}

@media screen and (max-width:1200px) {
  .footer {
    max-width: calc(100%*928/1024);
  }
}

@media screen and (max-width:1000px) {
  .footer {
    padding-top: 88px;
    max-width: calc(100%*720/768);
  }
}

@media screen and (max-width:700px) {
  .footer {
    min-height: 310px;
    padding-top: 64px;
    display: block;
    padding-left: 16px;
  }
}