.intro__title {
  max-width: 690px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

@media screen and (max-width:768px) {
  .intro__text {
    max-width: 100%;
  }
}

@media screen and (max-width:768px) {
  .intro__text {
    font-size: 32px;
    line-height: 35px;
  }
}